#baseBox {
    display: flex;
    flex-direction: column;
    top: 0px;
    align-items: center;
}

.errBox {
    background-color: white;
    width: 100%;
}

#errImageCard {
    background-color: white;
    width: 100%;
    box-shadow: none;
}

#errorImg {
    object-fit: cover;
    width: 20%;
    height: 20%;
    position: relative;
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
    color: black;
}

#goBackButton {
    background-color: #d62828;
}

h5 {
    margin: 0px;
    font-size: 20px;
}

h2 {
    text-align: center;
}