.container {
    display: flex;
    flex-direction: column;
  }

#box1 {
  display: flex;
  flex-direction: column;
  top: 0px;
}

#box2 {
  background-color: #d62828;
  width: 100%;
}

#imageCard {
  background-color: #d62828;
  width: 100%;
  box-shadow: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#welcomeText {
  background-color: #d62828;
  width: 100%;
}

h1 {
  color: white;
}

#box3 {
  background-color: white;
}

#contentCard {
  box-shadow: none;
}

h3 {
  font-size: 50px;
}

hr {
  color: #d62828;
  border-bottom-width: 10px;
  width: 300px;
  margin-bottom: 30px;
}

h4 {
  font-size: 30px;
  color: gray;
}

#joinCard {
  box-shadow: none;
}

#joinButton {
  background-color: #d62828;
  margin-bottom: 50px;
  width: 400px;
}

h5 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}